.screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/assets/main-background-slate.jpg');
}

.header{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 5vh;
  border-radius: 10px;
  background-color: rgba(142, 165, 222, 0.8);
}

.main{
  overflow: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 90vh;
  border-radius: 10px;
}


a{
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.margin-top-30{
  margin-top: 30vh;
}

.result-container{
  background-color: rgba(209, 216, 233, 0.8);
  padding: 2em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
